<% if current_user %>
  <% if @shop.multiple_use == false && posted %>
  	<p>Sorry, you've already posted before!</p>
  <% else %>
  	Welcome <%= current_user.name %>!
  	<%= link_to "Sign Out", signout_path %>
  
  	<p><%= link_to "Post to #{current_user.provider.capitalize} and get your coupon!", status_update_path %></p>
  <% end %>
<% else %>
  <%= link_to image_tag("login_twitter.png"), "/auth/twitter" %> or <%= link_to image_tag("login_facebook.png"), "/auth/facebook" %>
<% end %>