<div id="sidebar">
  <h3>Cancel Your Account</h3>
  <p>You can <%= link_to "cancel your account", cancel_path %> anytime. You won't be charged starting next month.</p>
</div>


<div id="orders">

<p>Copy and paste this link somewhere in your store: <% if Rails.env == "development" %><code>http://localhost:3000/coupon/<%= @shop.shopify_id %></code><% else %><code>http://coupon-sociable.heroku.com/coupon/<%= @shop.shopify_id %></code><% end %></p>

<%= form_for @shop do |f| %>
	<p><%= f.label :coupon_code, "Please enter a coupon code to return to customers when they complete this promotion" %> <br />
	<%= f.text_field :coupon_code %></p>
	
	<p><%= f.label :multiple_use, "Should customers be able to use the coupon more than once?" %> <br />
	<%= f.radio_button("multiple_use", "true") %> Allow multiple use <br /> <%= f.radio_button("multiple_use", "false") %> Single time use only</p>
	
	<p><%= f.label :update_text, "What should be posted to their Facebook or Twitter account to complete the offer?" %> <br />
	<%= f.text_field :update_text, :size => 100 %></p>
	
	<p><%= f.label :accepts_emails, "Would you like to receive an email when someone completes the offer?" %> <br />
	<%= f.radio_button("accepts_emails", "true") %> Yes <br /> <%= f.radio_button("accepts_emails", "false") %> No</p>
	
	<p><%= f.label :email, "Where should we send you email?" %><br />
	<%= f.text_field :email %></p>
	
	<p><%= f.submit "Update settings" %></p>
<% end %>

</div>
